In [ ]:
x=777856
n=0
while(x>0):
  r=x%10
  n=n*10+r
  x=x//10
print(n)

658777

In [ ]:
x=337
y=x**0.5
i=2
f=0
while(i<=y):
  r=x%i
  if(r==0):
    f=1
  i+=1
if(f==0):
  print("The number is prime")
else:
  print("The number is not a prime number")

The number is prime

In [ ]:
x = input()
print(x)

5
5

In [ ]:
x = input("Please enter a number")
print(x)

Please enter a number10
10

In [ ]:
x = int(input("Please enter a number"))
a = x+x
print(a)
print(type(x))

Please enter a number11
22
<class 'int'>

In [ ]:
def my_function():
  print("Hey Samantha")

In [ ]:
my_function()

Hey Samantha

In [ ]:
def my_function(x):
  a = x**2 + 2*x + 5
  return a

In [ ]:
my_function(15)

260

In [ ]:
def my_function(*kids):
  for i in kids:
    print(i)
  print("the youngest child is",kids[2])

In [ ]:
my_function("Samantha","Jhon","Alok","Nimish","Gaurav")

Samantha
Jhon
Alok
Nimish
Gaurav
the youngest child is Alok

In [ ]:
def my_function(**kids):
  print("Her last name is " + kids["lname"])

In [ ]:
my_function(fname="samantha",lname="rath")

Her last name is rath

In [ ]:
def my_func(age="21"):
  print("my age is ",age)

In [ ]:
my_func(40)
my_func(30)
my_func()

my age is  40
my age is  30
my age is  21

In [ ]:
def aa():
  pass

In [ ]:
aa()

In [ ]:
a,b = int(input()),int(input())
if(a==b or a > b):
  print("XYZ")

5
4
XYZ

## Lambda

In [ ]:
x = lambda a : a+10
print(x(5))

15

## Strings

In [ ]:
print("Hello")

Hello

In [ ]:
a = "Hello"
print(a[2])

l

In [ ]:
for x in a:
  print(x)

H
e
l
l
o

In [ ]:
lst = [2,3,6,5,4,7,8]

In [ ]:
lst[2:6]

[6, 5, 4, 7]

In [ ]:
lst[-5:-1]

[6, 5, 4, 7]